<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Firma xyz - strona główna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>

<section layout:fragment="content">
    <div style="margin: 50px auto; text-align: center">
        <h1>Przepis na pyszne jagodzianki od Babci Jadzi. <b>Polecam!</b></h1>
    </div>
    <div style="margin: 50px auto">

        <p><strong>Składniki:</strong></p>
        <p><em>Ciasto drożdżowe:</em></p>
        <ul>
            <li>500g mąki pszennej</li>
            <li>250ml mleka</li>
            <li>50g cukru</li>
            <li>25g świeżych drożdży lub 7g drożdzy instant</li>
            <li>75g miękkiego masła</li>
            <li>1 płaska łyżeczka soli</li>
            <li>1 jajko</li>
            <li>łyżka soku z cytryny</li>
            <li>łyżka wódki lub spirytusu</li>
        </ul>
        <p><em>Nadzienie:</em></p>
        <ul>
            <li>500g jagód</li>
            <li>trochę mąki ziemniaczanej</li>
            <li>cukru do smaku, trochę więcej niż mniej</li>
        </ul>
        <p><strong>Sposób przygotowania ściągnięty ze strony domowewypieki ale to dlatego, ze wszystki eciasta drożdżowe
            robi się tak samo:</strong></p>
        <ol>
            <li>Lekko ciepłe mleko wymieszać z 1 łyżeczką cukru, pokruszonymi drożdżami i ok. 4 łyżkami mąki. Przykryć
                ściereczką i odstawić w ciepłe miejsce do wyrośnięcia na ok. 10- 15min.
            </li>
            <li>Resztę z 500g mąki wsypać do dużej miski. Dodać resztę cukru, sól i wymieszać. Dodać jajko, miękkie
                masło,
                startą skórkę cytrynową i wyrośnięty zaczyn. Wyrobić ciasto. (Można zagnieść ciasto ręcznie lub robotem
                kuchennym,
                używając haka do zagniatania ciasta. Ciasto będzie dość rzadkie, ale powinno odchodzić od ręki).
                Następnie przykryć ściereczką i odstawić w ciepłe miejsce do wyrośnięcia, aż podwoi swoją objętość (ok.
                1godz).
            </li>
            <li>Po wyrośnięciu ciasto przełożyć na blat posypany mąką i uformować wałek. Wałek podzielić na 16 części.
                (Dzielę wałek na pół i każdą część znowu na pół itd. aż uzyskam 16 kawałków).
            </li>
            <li>Jagody oczyścić i wymieszać z cukrem pudrem.</li>
            <li>Każdy kawałek ciasta uformować w kulę i rozpłaszczyć ją na ręce. Na środku nałożyć dużą łyżkę jagód i
                zlepić brzegi, jak pieroga. Uformować podłużną bułeczkę. Gotowe bułeczki układać na blasze wyłożonej
                papierem
                do pieczenia złączeniem do dołu, pozostawiając odstęp między bułeczkami. (Bułeczki ułożyłam na dwóch
                blachach).
                Pozostawić do podrośnięcia na 10min.
            </li>
            <li>W międzyczasie rozgrzać piekarnik do 180°C.</li>
            <li>Bułeczki posmarować rozkłóconym jajkiem z mlekiem i opcjonalnie dodać kruszonki na wierzch (nie ma w
                przepisie)
            </li>
            <li>Piec w nagrzanym piekarniku około 20 min., do zarumienienia, jedną blachę po drugiej. (Bułeczki lubią
                pękać, ponieważ pakujemy w nie maksymalną ilość nadzienia. Wypływa trochę soku, ale bułeczki pozostają
                kształtne i pełne nadzienia).
            </li>
        </ol>

    </div>
</section>

</body>
</html>