<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>O nas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<section layout:fragment="content">
    <div class="about-section" style="margin: 50px auto; text-align: center" >
        <h1>O nas</h1>
        <p>Stworzenie tekstu o firmie, czyli autoprezentacji powinno być najłatwiejszą rzeczą pod słońcem. Nie trzeba</p>
        <p> przecież robić researchu, bo na temacie znasz się jak nikt inny. Nie trzeba też walczyć z zadaniem, w które</p>
        <p>  się nie wierzy. Tymczasem to właśnie “strona o nas” sprawia zwykle najwięcej trudności. Dlaczego?</p>
        <p>  Z powodu strachu.</p>
        <p>  Strachu, że firmowa historia nie wyda się zbyt ciekawa. Ludzie obawiają się, że podadzą zbyt dużo albo zbyt</p>
        <p>  mało prywatnych informacji. Marka wyda się zbyt poważna lub zbyt “na luzie”.</p>
        <p>  Boją się oceny, która będzie wymierzona nie w usługi czy produkty firmy, ale w nich samych. Właśnie dlatego</p>
        <p>   kolejne marki kryją się za zgrabnymi i wyświechtanymi do granic możliwości określeniami: zespół specjalistów,</p>
        <p>  nieustanny rozwój, lider na rynku. Mogłabym wydłużać tę listę, tylko po co?  Przejdę do konkretów 😉</p>

    </div>
</section>

</body>
</html>